@font-face {
  font-family: 'fontello-admin';
  src: url(//muchmorekorea.vn/wp-content/themes/organic-beauty/fw/css/fontello-admin/css/../font/fontello-admin.eot?4801246);
  src: url(//muchmorekorea.vn/wp-content/themes/organic-beauty/fw/css/fontello-admin/css/../font/fontello-admin.eot?4801246#iefix) format('embedded-opentype'),
       url(//muchmorekorea.vn/wp-content/themes/organic-beauty/fw/css/fontello-admin/css/../font/fontello-admin.woff?4801246) format('woff'),
       url(//muchmorekorea.vn/wp-content/themes/organic-beauty/fw/css/fontello-admin/css/../font/fontello-admin.ttf?4801246) format('truetype'),
       url(//muchmorekorea.vn/wp-content/themes/organic-beauty/fw/css/fontello-admin/css/../font/fontello-admin.svg?4801246#fontello-admin) format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello-admin';
    src: url(//muchmorekorea.vn/wp-content/themes/organic-beauty/fw/css/fontello-admin/css/../font/fontello-admin.svg?4801246#fontello-admin) format('svg');
  }
}
*/
 [class^="iconadmin-"]:before, [class*=" iconadmin-"]:before {
  font-family: "fontello-admin";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.iconadmin-mail-alt:before { content: '\e800'; } /* '' */
.iconadmin-camera:before { content: '\e801'; } /* '' */
.iconadmin-video:before { content: '\e802'; } /* '' */
.iconadmin-heart-empty:before { content: '\e803'; } /* '' */
.iconadmin-layout:before { content: '\e804'; } /* '' */
.iconadmin-male:before { content: '\e805'; } /* '' */
.iconadmin-female:before { content: '\e806'; } /* '' */
.iconadmin-delete:before { content: '\e807'; } /* '' */
.iconadmin-pictures:before { content: '\e808'; } /* '' */
.iconadmin-cancel:before { content: '\e809'; } /* '' */
.iconadmin-ok:before { content: '\e80a'; } /* '' */
.iconadmin-plus:before { content: '\e80b'; } /* '' */
.iconadmin-minus:before { content: '\e80c'; } /* '' */
.iconadmin-rss:before { content: '\e80d'; } /* '' */
.iconadmin-heart:before { content: '\e80e'; } /* '' */
.iconadmin-share:before { content: '\e80f'; } /* '' */
.iconadmin-print:before { content: '\e810'; } /* '' */
.iconadmin-pencil:before { content: '\e811'; } /* '' */
.iconadmin-keyboard:before { content: '\e812'; } /* '' */
.iconadmin-attention:before { content: '\e813'; } /* '' */
.iconadmin-trash:before { content: '\e814'; } /* '' */
.iconadmin-desktop:before { content: '\e815'; } /* '' */
.iconadmin-laptop:before { content: '\e816'; } /* '' */
.iconadmin-comment-alt:before { content: '\e817'; } /* '' */
.iconadmin-tablet:before { content: '\e818'; } /* '' */
.iconadmin-mobile:before { content: '\e819'; } /* '' */
.iconadmin-user:before { content: '\e81a'; } /* '' */
.iconadmin-users:before { content: '\e81b'; } /* '' */
.iconadmin-user-add:before { content: '\e81c'; } /* '' */
.iconadmin-download:before { content: '\e81d'; } /* '' */
.iconadmin-upload:before { content: '\e81e'; } /* '' */
.iconadmin-tools:before { content: '\e81f'; } /* '' */
.iconadmin-newspaper:before { content: '\e820'; } /* '' */
.iconadmin-login:before { content: '\e821'; } /* '' */
.iconadmin-logout:before { content: '\e822'; } /* '' */
.iconadmin-down-open-mini:before { content: '\e823'; } /* '' */
.iconadmin-cog-alt:before { content: '\e824'; } /* '' */
.iconadmin-left-open-mini:before { content: '\e825'; } /* '' */
.iconadmin-right-open-mini:before { content: '\e826'; } /* '' */
.iconadmin-up-open-mini:before { content: '\e827'; } /* '' */
.iconadmin-ccw:before { content: '\e828'; } /* '' */
.iconadmin-cw:before { content: '\e829'; } /* '' */
.iconadmin-arrows-ccw:before { content: '\e82a'; } /* '' */
.iconadmin-align-left:before { content: '\e82b'; } /* '' */
.iconadmin-align-center:before { content: '\e82c'; } /* '' */
.iconadmin-down-open:before { content: '\e82d'; } /* '' */
.iconadmin-left-open:before { content: '\e82e'; } /* '' */
.iconadmin-right-open:before { content: '\e82f'; } /* '' */
.iconadmin-up-open:before { content: '\e830'; } /* '' */
.iconadmin-align-right:before { content: '\e831'; } /* '' */
.iconadmin-align-justify:before { content: '\e832'; } /* '' */
.iconadmin-list-bullet:before { content: '\e833'; } /* '' */
.iconadmin-list-numbered:before { content: '\e834'; } /* '' */
.iconadmin-indent-left:before { content: '\e835'; } /* '' */
.iconadmin-indent-right:before { content: '\e836'; } /* '' */
.iconadmin-superscript:before { content: '\e837'; } /* '' */
.iconadmin-subscript:before { content: '\e838'; } /* '' */
.iconadmin-underline:before { content: '\e839'; } /* '' */
.iconadmin-strike:before { content: '\e83a'; } /* '' */
.iconadmin-bold:before { content: '\e83b'; } /* '' */
.iconadmin-italic:before { content: '\e83c'; } /* '' */
.iconadmin-text-height:before { content: '\e83d'; } /* '' */
.iconadmin-text-width:before { content: '\e83e'; } /* '' */
.iconadmin-font:before { content: '\e83f'; } /* '' */
.iconadmin-checkbox:before { content: '\e840'; } /* '' */
.iconadmin-checkbox-empty:before { content: '\e841'; } /* '' */
.iconadmin-off:before { content: '\e842'; } /* '' */
.iconadmin-list-add:before { content: '\e843'; } /* '' */
.iconadmin-list:before { content: '\e844'; } /* '' */
.iconadmin-clock:before { content: '\e845'; } /* '' */
.iconadmin-folder-open-empty:before { content: '\e846'; } /* '' */
.iconadmin-phone:before { content: '\e847'; } /* '' */
.iconadmin-floppy:before { content: '\e848'; } /* '' */
.iconadmin-home:before { content: '\e849'; } /* '' */
.iconadmin-volume-up:before { content: '\e84a'; } /* '' */
.iconadmin-search:before { content: '\e84b'; } /* '' */
.iconadmin-note:before { content: '\e84c'; } /* '' */
.iconadmin-file-pdf:before { content: '\e84d'; } /* '' */
.iconadmin-file-word:before { content: '\e84e'; } /* '' */
.iconadmin-file-excel:before { content: '\e84f'; } /* '' */
.iconadmin-file-powerpoint:before { content: '\e850'; } /* '' */
.iconadmin-file-image:before { content: '\e851'; } /* '' */
.iconadmin-file-archive:before { content: '\e852'; } /* '' */
.iconadmin-file-audio:before { content: '\e853'; } /* '' */
.iconadmin-file-video:before { content: '\e854'; } /* '' */
.iconadmin-file-code:before { content: '\e855'; } /* '' */
.iconadmin-book-open:before { content: '\e856'; } /* '' */
.iconadmin-list-alt:before { content: '\e857'; } /* '' */
.iconadmin-basket:before { content: '\e858'; } /* '' */
.iconadmin-code:before { content: '\e859'; } /* '' */
.iconadmin-monitor:before { content: '\e85a'; } /* '' */
.iconadmin-floppy-alt:before { content: '\e85b'; } /* '' */
.iconadmin-star:before { content: '\e85c'; } /* '' */
.iconadmin-star-empty:before { content: '\e85d'; } /* '' */
.iconadmin-child:before { content: '\e85e'; } /* '' */
.iconadmin-eye:before { content: '\e85f'; } /* '' */
.iconadmin-attach:before { content: '\e860'; } /* '' */
.iconadmin-calendar:before { content: '\e861'; } /* '' */
.iconadmin-quote:before { content: '\e862'; } /* '' */
.iconadmin-arrow-combo:before { content: '\e863'; } /* '' */
.iconadmin-down:before { content: '\e864'; } /* '' */
.iconadmin-left:before { content: '\e865'; } /* '' */
.iconadmin-right:before { content: '\e866'; } /* '' */
.iconadmin-up:before { content: '\e867'; } /* '' */
.iconadmin-signal:before { content: '\e868'; } /* '' */
.iconadmin-cog:before { content: '\e869'; } /* '' */
.iconadmin-sliders:before { content: '\e86a'; } /* '' */
.iconadmin-folder-empty:before { content: '\e86b'; } /* '' */
.iconadmin-chart-bar:before { content: '\e86c'; } /* '' */
.iconadmin-chart-pie:before { content: '\e86d'; } /* '' */
.iconadmin-dot:before { content: '\e86e'; } /* '' */
.iconadmin-dot2:before { content: '\e86f'; } /* '' */
.iconadmin-dot3:before { content: '\e870'; } /* '' */
.iconadmin-sitemap:before { content: '\e871'; } /* '' */
.iconadmin-sort-alt-up:before { content: '\e872'; } /* '' */
.iconadmin-sort-alt-down:before { content: '\e873'; } /* '' */
.iconadmin-sort-name-up:before { content: '\e874'; } /* '' */
.iconadmin-sort-name-down:before { content: '\e875'; } /* '' */
.iconadmin-sort-number-up:before { content: '\e876'; } /* '' */
.iconadmin-sort-number-down:before { content: '\e877'; } /* '' */
.iconadmin-yen:before { content: '\e878'; } /* '' */
.iconadmin-euro:before { content: '\e879'; } /* '' */
.iconadmin-pound:before { content: '\e87a'; } /* '' */
.iconadmin-dollar:before { content: '\e87b'; } /* '' */
.iconadmin-rupee:before { content: '\e87c'; } /* '' */
.iconadmin-rouble:before { content: '\e87d'; } /* '' */
.iconadmin-info:before { content: '\e87e'; } /* '' */
.iconadmin-check:before { content: '\e87f'; } /* '' */
.iconadmin-menu:before { content: '\e880'; } /* '' */
.iconadmin-columns:before { content: '\e881'; } /* '' */
.iconadmin-table:before { content: '\e882'; } /* '' */
.iconadmin-header:before { content: '\e883'; } /* '' */
.iconadmin-paragraph:before { content: '\e884'; } /* '' */
.iconadmin-palette:before { content: '\e885'; } /* '' */
.iconadmin-help:before { content: '\e886'; } /* '' */
.iconadmin-folder:before { content: '\e887'; } /* '' */
.iconadmin-folder-open:before { content: '\e888'; } /* '' */
.iconadmin-doc-text:before { content: '\e889'; } /* '' */
.iconadmin-window:before { content: '\e88a'; } /* '' */
.iconadmin-doc-text-inv:before { content: '\e88b'; } /* '' */
.iconadmin-doc-inv:before { content: '\e88c'; } /* '' */
.iconadmin-link:before { content: '\e88d'; } /* '' */
.iconadmin-unlink:before { content: '\e88e'; } /* '' */
.iconadmin-pin:before { content: '\e88f'; } /* '' */
.iconadmin-blank:before { content: '\e890'; } /* '' */
.iconadmin-plus-circled:before { content: '\e891'; } /* '' */
.iconadmin-plus-squared:before { content: '\e892'; } /* '' */
.iconadmin-minus-circled:before { content: '\e893'; } /* '' */
.iconadmin-minus-squared:before { content: '\e894'; } /* '' */
.iconadmin-cancel-circled:before { content: '\e895'; } /* '' */
.iconadmin-cancel-squared:before { content: '\e896'; } /* '' */
.iconadmin-help-circled:before { content: '\e897'; } /* '' */
.iconadmin-info-circled:before { content: '\e898'; } /* '' */
.iconadmin-ok-circled:before { content: '\e899'; } /* '' */
.iconadmin-ok-circled2:before { content: '\e89a'; } /* '' */
.iconadmin-air:before { content: '\e8a6'; } /* '' */
.iconadmin-edit:before { content: '\e8a9'; } /* '' */
.iconadmin-comment:before { content: '\e8ab'; } /* '' */
.iconadmin-comment-empty:before { content: '\e8ac'; } /* '' */
.iconadmin-mail:before { content: '\e8af'; } /* '' */
.iconadmin-lock:before { content: '\e8b1'; } /* '' */
.iconadmin-globe:before { content: '\e8c4'; } /* '' */
.iconadmin-down-dir:before { content: '\e8ee'; } /* '' */
.iconadmin-left-dir:before { content: '\e8ef'; } /* '' */
.iconadmin-right-dir:before { content: '\e8f0'; } /* '' */
.iconadmin-up-dir:before { content: '\e8f1'; } /* '' */
.iconadmin-doc:before { content: '\e8f5'; } /* '' */
.iconadmin-docs:before { content: '\e8f6'; } /* '' */
.iconadmin-user-alt:before { content: '\e8fd'; } /* '' */
.iconadmin-users-group:before { content: '\e8fe'; } /* '' */
.iconadmin-cogs:before { content: '\e90f'; } /* '' */
.iconadmin-wrench:before { content: '\e910'; } /* '' */
.iconadmin-chat:before { content: '\e912'; } /* '' */
.iconadmin-picture:before { content: '\e915'; } /* '' */
.iconadmin-spin3:before { content: '\e919'; } /* '' */
.iconadmin-lock-open:before { content: '\e91b'; } /* '' */
.iconadmin-circle:before { content: '\e927'; } /* '' */
.iconadmin-circle-empty:before { content: '\e928'; } /* '' */
.iconadmin-dot-circled:before { content: '\e929'; } /* '' */