@charset "utf-8";

/*
Apple iPhone 5, 5S & 5C 
Apple iPod Touch (5th generation)
*/
@media (min-width: 1263px) and (max-width: 1439px) {

	/* Body sizes */
	.body_style_boxed .page_wrap {
		width: 1060px;
	}

	.slider_boxed, .content_wrap, .content_container {
		width: 1000px;
	}

	/* Content and Sidebar */
	.sidebar_show .content {
		width: 670px;
	}

	.sidebar {
		width: 300px;
	}

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content {
		padding-right: 330px;
	}

	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar {
		margin-left: -300px;
	}

	.body_style_fullwide.sidebar_left .content, .body_style_fullscreen.sidebar_left .content {
		padding-left: 330px;
	}

	.body_style_fullwide.sidebar_left .sidebar, .body_style_fullscreen.sidebar_left .sidebar {
		margin-right: -300px;
	}

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content {
		width: 690px;
	}

	.woocommerce .sidebar {
		width: 280px;
	}

	/* WooCommerce: Fullwide or Fullscreen with sidebar */
	.woocommerce.body_style_fullwide.sidebar_right .content, .woocommerce.body_style_fullscreen.sidebar_right .content {
		padding-right: 310px;
	}

	.woocommerce.body_style_fullwide.sidebar_right .sidebar, .woocommerce.body_style_fullscreen.sidebar_right .sidebar {
		margin-left: -280px;
	}

	.woocommerce.body_style_fullwide.sidebar_left .content, .woocommerce.body_style_fullscreen.sidebar_left .content {
		padding-left: 310px;
	}

	.woocommerce.body_style_fullwide.sidebar_left .sidebar, .woocommerce.body_style_fullscreen.sidebar_left .sidebar {
		margin-right: -280px;
	}

	/* Top Panel */
	.top_panel_style_1 .contact_field {
		padding: 0 10px 0 0;
	}

	.body_wrap .top_panel_wrap .contact_in {
		padding: 0 0 0 0 !important;
	}

	.top_panel_style_3 .menu_main_nav > li > a {
		padding: 1.1em 1.3em 1.3em;
	}

	/* Posts layouts */
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 343px;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 515px;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_column_4,
	.sc_scroll_horizontal .sc_blogger .column-1_4,
	.sc_blogger .sc_scroll_horizontal .isotope_column_4,
	.sc_blogger .sc_scroll_horizontal .column-1_4 {
		width: 257px;
	}

	/* Shortcodes */
	.sc_intro_style_2 .sc_intro_title {
		font-size: 1.9em;
	}

	/* Widgets */
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left: 0.4em;
	}

	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.5em;
	}

	/* demo */
	.extra_section {
		padding: 0 1.5em;
	}
}

@media (min-width: 1136px) and (max-width: 1262px) {

	/* Body sizes */
	.body_style_boxed .page_wrap {
		width: 970px;
	}

	.slider_boxed, .content_wrap, .content_container {
		width: 910px;
	}

	/* Content and Sidebar */
	.sidebar_show .content {
		width: 610px;
	}

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content {
		width: 630px;
	}

	/* Posts layouts */
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 313px;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 470px;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_column_4,
	.sc_scroll_horizontal .sc_blogger .column-1_4,
	.sc_blogger .sc_scroll_horizontal .isotope_column_4,
	.sc_blogger .sc_scroll_horizontal .column-1_4 {
		width: 235px;
	}

	.rev_slider .sc_button {
		font-size: 17px !important;
	}

	.rev_slider .sc_button_size_small.sc_button {
		font-size: 13px !important;
	}

	.content .mc4wp-form {
		margin-bottom: 2.3em !important;
	}

	.sc_intro.extra_padding {
		padding: 3em 10px 2.9em;
	}

	.sc_intro_style_2 .sc_intro_title {
		font-size: 2em;
		line-height: 1.2em;
	}

	.extra_section {
		padding: 0 0.5em;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer {
		background-size: 100% auto !important;
	}

	.top_panel_middle .sidebar_cart {
		top: 5.5em;
		left: -1.6em;
	}

	.top_panel_style_1 .columns_wrap {
		margin: 0;
	}
}

@media (min-width: 1024px) and (max-width: 1135px) {

	/* Body sizes */
	.body_style_boxed .page_wrap {
		width: 100%;
	}

	.slider_boxed, .content_wrap, .content_container {
		width: 964px;
	}

	/* Content and Sidebar */
	.sidebar_show .content {
		width: 664px;
	}

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content {
		width: 684px;
	}

	/* Posts layouts */
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 331px;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 497px;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_column_4,
	.sc_scroll_horizontal .sc_blogger .column-1_4,
	.sc_blogger .sc_scroll_horizontal .isotope_column_4,
	.sc_blogger .sc_scroll_horizontal .column-1_4 {
		width: 248px;
	}

	input[type="submit"], input[type="button"], button, .sc_button, .post_readmore {
		padding: 0.9em 1.6em;
	}

	input.sc_button_size_large[type="submit"], input.sc_button_size_large[type="button"], button.sc_button_size_large, .sc_button.sc_button_size_large {
		padding: 1em 2.1em;
	}

	.top_panel_style_3 .menu_main_nav > li > a {
		padding: 1.1em 1.4em 1.3em;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-image {
		height: 110px;
		width: 110px;
	}

	.cq-testimoniallist.beauty .slick-slide.cq-testimoniallist-avataritem:before {
		background-size: 150px auto;
	}

	.rev_slider .sc_button {
		font-size: 16px !important;
	}

	.rev_slider .sc_button_size_small.sc_button {
		font-size: 13px !important;
	}

	.sc_intro.extra_padding {
		padding: 3em 10px 2.9em;
	}

	.sc_intro_style_2 .sc_intro_title {
		font-size: 2em;
		line-height: 1.2em;
	}

	.extra_section {
		padding: 0 0.5em;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer {
		background-size: 100% auto !important;
	}

	.top_panel_middle .sidebar_cart {
		top: 5.5em;
		left: -1.4em;
	}

	.top_panel_style_1 .columns_wrap {
		margin: 0;
	}

}

@media (min-width: 960px) and (max-width: 1023px) {

	/* Body sizes */
	.body_style_boxed .page_wrap {
		width: 100%;
	}

	.slider_boxed, .content_wrap, .content_container {
		width: 900px;
	}

	/* Content and Sidebar */
	.sidebar_show .content {
		width: 600px;
	}

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content {
		width: 620px;
	}

	/* Main Slider */
	.slider_over_content .sc_form_message textarea {
		min-height: 8em;
	}

	/* Posts layouts */
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 310px;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 465px;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_column_4,
	.sc_scroll_horizontal .sc_blogger .column-1_4,
	.sc_blogger .sc_scroll_horizontal .isotope_column_4,
	.sc_blogger .sc_scroll_horizontal .column-1_4 {
		width: 232px;
	}

	input[type="submit"], input[type="button"], button, .sc_button, .post_readmore {
		padding: 0.9em 1.6em;
	}

	input.sc_button_size_large[type="submit"], input.sc_button_size_large[type="button"], button.sc_button_size_large, .sc_button.sc_button_size_large {
		padding: 1em 2.1em;
	}

	.top_panel_style_3 .menu_main_nav > li > a {
		padding: 1.1em 1.4em 1.3em;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-image {
		height: 110px;
		width: 110px;
	}

	.cq-testimoniallist.beauty .slick-slide.cq-testimoniallist-avataritem:before {
		background-size: 150px auto;
	}

	.rev_slider .sc_button {
		font-size: 15px !important;
	}

	.rev_slider .sc_button_size_small.sc_button {
		font-size: 13px !important;
	}

	.sc_intro.extra_padding {
		padding: 3em 10px 2.9em;
	}

	.sc_intro_style_2 .sc_intro_title {
		font-size: 2em;
		line-height: 1.2em;
	}

	.extra_section {
		padding: 0 0.5em;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer {
		background-size: 100% auto !important;
	}

	.sc_intro_style_4 .sc_intro_buttons a {
		font-size: 1.1em;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer .cq-testimoniallist-content {
		font-size: 16px;
		line-height: 1.5em;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-avatarcontainer {
		margin: 20px auto 0 !important;
	}

	.copyright_style_socials .menu_footer_nav, .copyright_style_menu .menu_footer_nav {
		margin: 0 0 3em;
	}

	.content .mc4wp-form {
		margin-bottom: 2.4em !important;
	}

	blockquote {
		font-size: 1.9em;
	}

	.post_content .sc_quote {
		margin: 0.3em 3em 0 1em;
	}

	.body_filled .sidebar[class*="scheme_"] .sidebar_inner {
		padding: 0;
	}

	.woocommerce div.product .product_title {
		font-size: 2em;
	}
}

/*
Apple iPhone 4 & 4S
Apple iPod Touch (4th generation)
*/
@media (min-width: 960px) and (max-width: 1262px) {

	html, body {
		font-size: 13px;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.4em;
	}

	h4 {
		font-size: 1.2em;
	}

	h5 {
		font-size: 1.1em;
	}

	h6 {
		font-size: 1em;
	}

	.sidebar {
		width: 270px;
	}

	.search_style_fullscreen.search_state_opened .search_form {
		left: 0;
		margin: 0 auto;
		top: 100px;
		transform: none;
	}

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content {
		padding-right: 300px;
	}

	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar {
		margin-left: -270px;
	}

	.body_style_fullwide.sidebar_left .content, .body_style_fullscreen.sidebar_left .content {
		padding-left: 300px;
	}

	.body_style_fullwide.sidebar_left .sidebar, .body_style_fullscreen.sidebar_left .sidebar {
		margin-right: -270px;
	}

	/* WooCommerce: Content and Sidebar */
	.woocommerce .sidebar {
		width: 250px;
	}

	/* WooCommerce: Fullwide or Fullscreen with sidebar */
	.woocommerce.body_style_fullwide.sidebar_right .content, .woocommerce.body_style_fullscreen.sidebar_right .content {
		padding-right: 280px;
	}

	.woocommerce.body_style_fullwide.sidebar_right .sidebar, .woocommerce.body_style_fullscreen.sidebar_right .sidebar {
		margin-left: -250px;
	}

	.woocommerce.body_style_fullwide.sidebar_left .content, .woocommerce.body_style_fullscreen.sidebar_left .content {
		padding-left: 280px;
	}

	.woocommerce.body_style_fullwide.sidebar_left .sidebar, .woocommerce.body_style_fullscreen.sidebar_left .sidebar {
		margin-right: -250px;
	}

	/* Top Panel */
	.body_wrap .top_panel_wrap .contact_in {
		padding: 0 !important;
	}

	.top_panel_wrap .contact_label {
		margin: 0.5em 0 0;
	}

	.top_panel_style_1 .contact_field {
		text-align: center;
		padding: 0;
	}

	.top_panel_style_1 .contact_field .contact_icon {
		float: none;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 0.3em;
	}

	.menu_main_nav > li > ul {
		top: 45px;
	}

	/* Posts layouts */
	.isotope_filters a {
		font-size: 0.8461em;
	}

	/* Post parts */
	.post_info {
		font-size: 0.8461em;
	}

	.post_rating .reviews_star {
		font-size: 1em;
	}

	/* Widgets */
	.widget_area .post_item .post_info {
		font-size: 0.7692em;
	}

	.widget_area .widget_tag_cloud a {
		font-size: 0.8461em !important;
	}

	.widget_area .widget_calendar .weekday {
		font-size: 0.8461em;
	}

	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left: 0.4em;
	}

	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.25em;
	}

	.widget_area .widget_calendar td .day_wrap {
		padding: 6px 3px;
	}

	/* Woocommerce */
	.woocommerce .widget_price_filter .price_label {
		font-size: 1em;
	}

	.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		font-size: 1em;
	}

	.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
		margin-top: -0.15em;
	}

	/* Shortcodes */
	.sc_googlemap {
		max-height: 350px;
	}

	.sc_googlemap_content {
		position: static;
		width: auto;
	}

	.sc_testimonial_content {
		font-size: 1.25em;
	}

	.sc_testimonial_author {
		font-size: 1em;
	}
}

/*
Sony Xperia
LG Optimus
Blackberry Storm 3, Torch 9850 & Torch 9860
Nokia Lumia 610, 710 & 800
HTC Desire, Desire Z, Desire S & One V
Samsung Galaxy
*/
@media (min-width: 768px) and (max-width: 959px) {

	html, body {
		font-size: 13px;
	}

	h1 {
		font-size: 1.9em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.35em;
	}

	h4 {
		font-size: 1.2em;
	}

	h5 {
		font-size: 1.1em;
	}

	h6 {
		font-size: 1em;
	}

	.top_panel_title {
		padding: 0.5em 0;
	}

	/* Body sizes */
	.body_style_boxed .page_wrap {
		width: 100%;
	}

	.slider_boxed, .content_wrap, .content_container {
		width: 708px;
	}

	/* Content and Sidebar */
	.sidebar_show .content {
		width: 100%;
		float: none;
	}

	.sidebar_show .sidebar {
		width: 100%;
		float: none;
		margin-top: 4em;
	}

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content {
		padding-right: 0 !important;
	}

	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar {
		margin-left: 0 !important;
	}

	.body_style_fullwide.sidebar_left .content, .body_style_fullscreen.sidebar_left .content {
		padding-left: 0 !important;
	}

	.body_style_fullwide.sidebar_left .sidebar, .body_style_fullscreen.sidebar_left .sidebar {
		margin-right: 0 !important;
	}

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content {
		width: 100%;
		float: none;
	}

	.woocommerce .sidebar {
		width: 100%;
		float: none;
		margin-top: 5em;
	}

	/* Main Slider */
	.slider_over_content .sc_form_message textarea {
		min-height: 7em;
	}

	.slider_over_content .sc_form .sc_form_item input[type="text"],
	.slider_over_content .sc_form .sc_form_item select,
	.slider_over_content .sc_form .sc_form_item textarea {
		padding: 0.6em 1em;
	}

	.sidebar aside {
		display: inline-block;
		vertical-align: top;
		width: 31%;
		margin-left: 3.5%;
	}

	.sidebar aside + aside {
		padding-top: 0;
		border-top: none;
		margin-top: 0;
	}

	.sidebar aside:nth-child(3n+1) {
		margin-left: 0;
	}

	.sidebar aside:nth-child(3n+4),
	.sidebar aside:nth-child(3n+5),
	.sidebar aside:nth-child(3n+6) {
		padding-top: 2em;
		border-top: 1px solid #f4f7f9;
		margin-top: 2em;
	}

	.footer_wrap aside {
		display: inline-block;
		float: none;
		vertical-align: top;
		width: 48%;
		margin-left: 4%;
	}

	.footer_wrap aside[class*="column-"] {
		margin-left: 0;
	}

	.footer_wrap aside + aside {
		padding-top: 0;
		border-top: none;
		margin-top: 0;
	}

	.footer_wrap aside:nth-child(2n+1) {
		margin-left: 0;
	}

	.footer_wrap aside:nth-child(2n+3),
	.footer_wrap aside:nth-child(2n+4) {
		padding-top: 3em;
		border-top: 1px solid #f4f7f9;
		margin-top: 1em;
	}

	.gallery.gallery-columns-9 .gallery-item {
		width: 20% !important;
	}

	.gallery.gallery-columns-8 .gallery-item {
		width: 20% !important;
	}

	.gallery.gallery-columns-7 .gallery-item {
		width: 20% !important;
	}

	.gallery.gallery-columns-6 .gallery-item {
		width: 20% !important;
	}

	/* Top Panel */
	.body_wrap .top_panel_wrap .contact_in {
		padding: 0 !important;
	}

	.top_panel_wrap .contact_label {
		margin: 0.5em 0 0;
	}

	.top_panel_style_1 .contact_field {
		text-align: center;
		padding: 0;
	}

	.top_panel_style_1 .contact_field .contact_icon {
		float: none;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 0.3em;
	}

	.menu_main_nav > li > ul {
		top: 45px;
	}

	.top_panel_top_user_area {
		float: none;
		clear: both;
		width: 100%;
	}

	.top_panel_top_socials {
		float: left;
		margin-left: 0;
		margin-right: 4.5em;
	}

	/* Login and Register */
	.popup_wrap {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	/* Posts layouts */
	.isotope_filters a {
		font-size: 0.8461em;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 246px;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 369px;
	}

	/* Post parts */
	.post_info {
		font-size: 0.8461em;
	}

	.post_rating .reviews_star {
		font-size: 1em;
	}

	/* Widgets */
	.widget_area .post_item .post_info {
		font-size: 0.7692em;
	}

	.widget_area .widget_tag_cloud a {
		font-size: 0.8461em !important;
	}

	.widget_area .widget_calendar .weekday {
		font-size: 0.8461em;
	}

	.widget_area .reviews_block .reviews_summary .reviews_criteria {
		font-size: 0.7692em;
	}

	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left: 0.4em;
	}

	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.5em;
	}

	/* Footer */
	.contacts_wrap .contacts_address {
		font-size: 1em;
	}

	/* Shortcodes */
	.sc_promo_block {
		min-width: 50%;
	}

	.sc_promo_block_inner {
		padding: 3.5em;
	}

	.sc_googlemap {
		max-height: 350px;
	}

	.sc_googlemap_content {
		position: static;
		width: auto;
	}

	.sc_testimonial_content {
		font-size: 1.25em;
	}

	.sc_testimonial_author {
		font-size: 1em;
	}

	/* Woocommerce */
	.woocommerce .widget_price_filter .price_label {
		font-size: 1em;
	}

	.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		font-size: 1em;
	}

	.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
		margin-top: -0.15em;
	}

	.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
		width: 60px;
	}

	.woocommerce table.cart td, .woocommerce #content table.cart td, .woocommerce-page table.cart td, .woocommerce-page #content table.cart td {
		padding: 8px;
	}

	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float: left;
	}

	.woocommerce #content table.cart td.actions .button, .woocommerce table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button {
		width: auto;
	}

	.woocommerce #content table.cart td.actions > .button, .woocommerce table.cart td.actions > .button, .woocommerce-page #content table.cart td.actions > .button, .woocommerce-page table.cart td.actions > .button {
		float: right;
	}

	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*="columns-"] ul.products li.product, .woocommerce[class*="columns-"] ul.products li.product {
		/*clear:none !important;*/
	}

	.woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n), .woocommerce-page[class*="columns-"] ul.products li.product:nth-child(2n), .woocommerce[class*="columns-"] ul.products li.product:nth-child(2n) {
		float: left;
	}

	.woocommerce.columns-5 ul.products li.product, .woocommerce-page.columns-5 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_5, .woocommerce-page .related.products ul.products li.product.column-1_5,
	.woocommerce .upcells.products ul.products li.product.column-1_5, .woocommerce-page .upcells.products ul.products li.product.column-1_5,
	.woocommerce ul.products li.product.column-1_5, .woocommerce-page ul.products li.product.column-1_5 {
		width: 33.3333%;
	}

	.woocommerce.columns-6 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_6, .woocommerce-page .related.products ul.products li.product.column-1_6,
	.woocommerce .upcells.products ul.products li.product.column-1_6, .woocommerce-page .upcells.products ul.products li.product.column-1_6,
	.woocommerce ul.products li.product.column-1_6, .woocommerce-page ul.products li.product.column-1_6 {
		width: 33.3333%;
	}

	/* Scroll to Top */
	.scroll_to_top {
		right: 1em;
	}

	.scroll_to_top.show {
		bottom: 1em;
	}

	input[type="submit"], input[type="button"], button, .sc_button, .post_readmore {
		padding: 0.8em 1.4em;
	}

	input.sc_button_size_large[type="submit"], input.sc_button_size_large[type="button"], button.sc_button_size_large, .sc_button.sc_button_size_large {
		padding: 0.9em 1.9em;
	}

	.page_content_wrap {
		padding: 3em 0 4em;
	}

	.copyright_style_socials .menu_footer_nav li + li::before, .copyright_style_menu .menu_footer_nav li + li::before {
		margin: 0 15px;
	}

	.widget_area .widget_title {
		font-size: 1.15em;
	}

	.top_panel_style_3 .menu_main_nav > li > a {
		padding: 1.1em 1.4em 1.3em;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-image {
		height: 110px;
		width: 110px;
	}

	.cq-testimoniallist.beauty .slick-slide.cq-testimoniallist-avataritem:before {
		background-size: 150px auto;
	}

	.rev_slider .sc_button {
		font-size: 12px !important;
	}

	.rev_slider .sc_button_size_small.sc_button {
		font-size: 13px !important;
	}

	.sc_intro.extra_padding {
		padding: 3em 10px 2.9em;
	}

	.sc_intro_style_2 .sc_intro_title {
		font-size: 2em;
		line-height: 1.2em;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer {
		background-size: 100% auto !important;
	}

	.sc_intro_style_4 .sc_intro_buttons a {
		font-size: 1.1em;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer .cq-testimoniallist-content {
		font-size: 15px;
		line-height: 1.5em;
		padding: 2% 0;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-avatarcontainer {
		margin: 0 auto 0 !important;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer .cq-testimoniallist-contentitem {
		height: 180px;
	}

	.copyright_style_socials .menu_footer_nav, .copyright_style_menu .menu_footer_nav {
		margin: 0 0 3em;
	}

	.content .mc4wp-form {
		margin-bottom: 2.4em !important;
	}

	blockquote {
		font-size: 1.9em;
	}

	.post_content .sc_quote {
		margin: 0.3em 3em 0 1em;
	}

	.body_filled .sidebar[class*="scheme_"] .sidebar_inner {
		padding: 0;
	}

	.woocommerce div.product .product_title {
		font-size: 2em;
	}

	.sc_intro_style_2 .sc_intro_title {
		font-size: 2em;
		line-height: 1.1em;
	}

	.woocommerce ul.products, .woocommerce-page ul.products {
		margin-bottom: 5em;
		padding-bottom: 4em;
	}

	.woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
		margin-top: 0;
		width: 10em;
	}

	.sc_intro_style_4 .sc_intro_title {
		font-size: 3.3em;
	}

	.sc_intro_style_4 .sc_intro_descr {
		font-size: 1.1em;
	}

	.sc_intro_style_4 .sc_intro_buttons {
		margin: 2em 0 0;
	}

	.sc_price_block .sc_price_block_link .sc_button {
		padding: 0.8em 1.8em;
	}

	.extra_section {
		padding: 0;
	}

	.extra_section .sc_line,
	.extra_section .other_font:first-child,
	.extra_section .other_text {
		display: none;
	}

	.sc_price_block .sc_price_block_title {
		font-size: 2.2em;
		line-height: 1.3em;
	}

	.sc_price_block .sc_price_block_money {
		background-size: 95% auto;
		height: 200px;
		line-height: 200px;
	}
}

@media (min-width: 768px) and (max-width: 768px) {

	.woocommerce div.product form.cart .variations {
		width: 60%;
	}

	.woocommerce.columns-2 ul.products li.product, .woocommerce-page.columns-2 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_2, .woocommerce-page .related.products ul.products li.product.column-1_2,
	.woocommerce .upcells.products ul.products li.product.column-1_2, .woocommerce-page .upcells.products ul.products li.product.column-1_2,
	.woocommerce ul.products li.product.column-1_2, .woocommerce-page ul.products li.product.column-1_2,
	.woocommerce.columns-3 ul.products li.product, .woocommerce-page.columns-3 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_3, .woocommerce-page .related.products ul.products li.product.column-1_3,
	.woocommerce .upcells.products ul.products li.product.column-1_3, .woocommerce-page .upcells.products ul.products li.product.column-1_3,
	.woocommerce ul.products li.product.column-1_3, .woocommerce-page ul.products li.product.column-1_3,
	.woocommerce.columns-4 ul.products li.product, .woocommerce-page.columns-4 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_4, .woocommerce-page .related.products ul.products li.product.column-1_4,
	.woocommerce .upcells.products ul.products li.product.column-1_4, .woocommerce-page .upcells.products ul.products li.product.column-1_4,
	.woocommerce ul.products li.product.column-1_4, .woocommerce-page ul.products li.product.column-1_4, .woocommerce.columns-5 ul.products li.product,
	.woocommerce-page.columns-5 ul.products li.product, .woocommerce .related.products ul.products li.product.column-1_5,
	.woocommerce-page .related.products ul.products li.product.column-1_5, .woocommerce .upcells.products ul.products li.product.column-1_5,
	.woocommerce-page .upcells.products ul.products li.product.column-1_5, .woocommerce ul.products li.product.column-1_5,
	.woocommerce-page ul.products li.product.column-1_5, .woocommerce.columns-6 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_6, .woocommerce-page .related.products ul.products li.product.column-1_6,
	.woocommerce .upcells.products ul.products li.product.column-1_6, .woocommerce-page .upcells.products ul.products li.product.column-1_6,
	.woocommerce ul.products li.product.column-1_6, .woocommerce-page ul.products li.product.column-1_6 {
		width: 50% !important;
	}

	.woocommerce .list_products.shop_mode_list ul li.product {
		width: 100% !important;
	}

	.woocommerce-ordering select {
		padding: 0.85em 4em 0.85em 1.1em;
	}

	.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
		margin: 0 auto 2em;
		width: 70%;
	}

	.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty {
		text-align: center;
	}

	.value:after {
		right: 8em;
	}
}

@media (max-width: 768px){
	.woocommerce ul.products[class*=columns-] li.product,
	.woocommerce-page ul.products[class*=columns-] li.product{
		width: 48%;
		margin: 0 0 2.992em;
	}

	.isotope_wrap{
		margin-right: -20px;
	}

	.isotope_wrap .isotope_item {
		padding-right: 20px;
		padding-bottom: 20px;
		min-width: 50%;
	}

	.header_mobile .logo{
		padding-top: 10px;
		padding-bottom: 5px;
	}

	.header_mobile .logo_main{
		max-height: 80px;
	}
}


@media (min-width: 640px) and (max-width: 767px) {

	/* Body sizes */
	.slider_boxed, .content_wrap, .content_container {
		width: 600px;
	}

	/* Login and Register */
	.popup_wrap {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	/* Posts layouts */
	.isotope_wrap {
		margin-right: -20px;
	}

	.isotope_wrap .isotope_item {
		padding-right: 20px;
		padding-bottom: 20px;
		min-width: 50%;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 206px;
		min-width: 0;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 310px;
	}

	.value:after {
		right: 11em;
	}
}

@media (min-width: 480px) and (max-width: 639px) {

	/* Body sizes */
	.slider_boxed, .content_wrap, .content_container {
		width: 440px;
	}

	/* Login and Register */
	.popup_wrap {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.popup_registration {
		-webkit-transform: translate(-55%, -50%);
		-moz-transform: translate(-55%, -50%);
		-ms-transform: translate(-55%, -50%);
		transform: translate(-55%, -50%);
	}

	/* Posts layouts */
	.isotope_wrap {
		margin-right: -20px;
	}

	.isotope_wrap .isotope_item {
		padding-right: 20px;
		padding-bottom: 20px;
		min-width: 50%;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 230px;
		min-width: 0;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer {
		background: none !important;
		padding: 0 1%;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer .cq-testimoniallist-contentitem {
		height: 110px !important;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-image {
		height: 100px !important;
		width: 100px !important;
	}

	.cq-testimoniallist.beauty .slick-slide.cq-testimoniallist-avataritem:before {
		background: none !important;
	}

	.copyright_style_socials .menu_footer_nav, .copyright_style_menu .menu_footer_nav {
		font-size: 10px !important;
	}

	.copyright_style_socials .menu_footer_nav li + li:before, .copyright_style_menu .menu_footer_nav li + li:before {
		border: none !important;
		margin: 0 5px !important;
	}
}

/*
Portrait orientation
Sony Xperia
LG Optimus
Blackberry Storm 3, Torch 9850 & Torch 9860
Nokia Lumia 610, 710 & 800
HTC Desire, Desire Z, Desire S & One V
Samsung Galaxy
*/
@media (min-width: 480px) and (max-width: 767px) {

	html, body {
		font-size: 12px;
	}

	h1 {
		font-size: 1.95em;
	}

	h2 {
		font-size: 1.55em;
	}

	h3 {
		font-size: 1.4em;
	}

	h4 {
		font-size: 1.2em;
	}

	h5 {
		font-size: 1.15em;
	}

	h6 {
		font-size: 1.05em;
	}

	.top_panel_title {
		padding: 0.5em 0;
	}

	/* Body sizes */
	.body_style_boxed .page_wrap {
		width: 100%;
	}

	/* Content and Sidebar */
	.sidebar_show .content {
		width: 100%;
		float: none;
	}

	.sidebar_show .sidebar {
		width: 100%;
		float: none;
		margin-top: 2em;
	}

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content {
		padding-right: 0 !important;
	}

	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar {
		margin-left: 0 !important;
	}

	.body_style_fullwide.sidebar_left .content, .body_style_fullscreen.sidebar_left .content {
		padding-left: 0 !important;
	}

	.body_style_fullwide.sidebar_left .sidebar, .body_style_fullscreen.sidebar_left .sidebar {
		margin-right: 0 !important;
	}

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content {
		width: 100%;
		float: none;
	}

	.woocommerce .sidebar {
		width: 100%;
		float: none;
		margin-top: 3em;
	}

	.article_style_boxed .sidebar,
	.body_filled .sidebar[class*="scheme_"] {
		margin-top: 4em;
	}

	/* Main Slider */
	.slider_over_content_inner {
		padding: 1.5em;
	}

	.slider_over_content .sc_form_message textarea {
		min-height: 7em;
	}

	.slider_over_content .sc_form .sc_form_item input[type="text"],
	.slider_over_content .sc_form .sc_form_item select,
	.slider_over_content .sc_form .sc_form_item textarea {
		padding: 0.5em 1em;
	}

	.widget_area aside {
		display: inline-block;
		float: none;
		vertical-align: top;
		width: 48%;
		margin-left: 4%;
	}

	.widget_area aside[class*="column-"] {
		margin-left: 0;
	}

	.widget_area aside + aside {
		padding-top: 0;
		border-top: none;
		margin-top: 0;
	}

	.widget_area aside:nth-child(2n+1) {
		margin-left: 0;
	}

	.widget_area aside:nth-child(2n+3),
	.widget_area aside:nth-child(2n+4) {
		padding-top: 3em !important;
		border-top: 1px solid #f4f7f9;
		margin-top: 1em;
	}

	/* Grid */
	.container, .container-fluid {
		padding-left: 10px;
		padding-right: 10px;
	}

	.row, .columns_wrap {
		margin-right: -20px;
	}

	.row > [class*="column-"], .columns_wrap > [class*="column-"] {
		padding-right: 20px;
	}

	.row.column_padding_left, .columns_wrap.column_padding_left {
		margin-left: -20px;
	}

	.row.column_padding_left > [class*="column-"], .columns_wrap.column_padding_left > [class*="column-"],
	.row > [class*="column-"].column_padding_left, .columns_wrap > [class*="column-"].column_padding_left {
		padding-left: 20px;
	}

	.row.column_padding_right, .columns_wrap.column_padding_right {
		margin-right: -20px;
	}

	.row.column_padding_right > [class*="column-"], .columns_wrap.column_padding_right > [class*="column-"],
	.row > [class*="column-"].column_padding_right, .columns_wrap > [class*="column-"].column_padding_right {
		padding-right: 20px;
	}

	.row.column_padding_center, .columns_wrap.column_padding_center {
		margin-left: -10px;
		margin-right: -10px;
	}

	.row.column_padding_center > [class*="column-"], .columns_wrap.column_padding_center > [class*="column-"],
	.row > [class*="column-"].column_padding_center, .columns_wrap > [class*="column-"].column_padding_center {
		padding-left: 20px;
	}

	.row > [class*="column-"].column_padding_bottom, .columns_wrap > [class*="column-"].column_padding_bottom {
		padding-bottom: 20px;
	}

	/* Columns relayout (max 2 columns in the row) */
	.row:not(.columns_fluid) > [class*="column-"], .columns_wrap:not(.columns_fluid) > [class*="column-"] {
		width: 50%;
	}

	.row:not(.columns_fluid) > .column-1_1, .row:not(.columns_fluid) > .column-2_2, .row:not(.columns_fluid) > .column-3_3, .row:not(.columns_fluid) > .column-4_4,
	.row:not(.columns_fluid) > .column-5_5, .row:not(.columns_fluid) > .column-6_6, .row:not(.columns_fluid) > .column-7_7, .row:not(.columns_fluid) > .column-8_8,
	.row:not(.columns_fluid) > .column-9_9, .row:not(.columns_fluid) > .column-10_10,
	.row:not(.columns_fluid) > .column-11_11, .row:not(.columns_fluid) > .column-12_12,
	.columns_wrap:not(.columns_fluid) > .column-1_1, .columns_wrap:not(.columns_fluid) > .column-2_2, .columns_wrap:not(.columns_fluid) > .column-3_3,
	.columns_wrap:not(.columns_fluid) > .column-4_4, .columns_wrap:not(.columns_fluid) > .column-5_5, .columns_wrap:not(.columns_fluid) > .column-6_6,
	.columns_wrap:not(.columns_fluid) > .column-7_7, .columns_wrap:not(.columns_fluid) > .column-8_8, .columns_wrap:not(.columns_fluid) > .column-9_9,
	.columns_wrap:not(.columns_fluid) > .column-10_10, .columns_wrap:not(.columns_fluid) > .column-11_11, .columns_wrap:not(.columns_fluid) > .column-12_12,
	.row:not(.columns_fluid) > .column-1_3:nth-child(3n), .columns_wrap:not(.columns_fluid) > .column-1_3:nth-child(3n),
	.row:not(.columns_fluid) > .column-2_3, .columns_wrap:not(.columns_fluid) > .column-2_3,
	.row:not(.columns_fluid) > .column-2_4, .columns_wrap:not(.columns_fluid) > .column-3_4,
	.row:not(.columns_fluid) > .column-2_5, .columns_wrap:not(.columns_fluid) > .column-2_5,
	.row:not(.columns_fluid) > .column-3_5, .columns_wrap:not(.columns_fluid) > .column-3_5,
	.row:not(.columns_fluid) > .column-4_5, .columns_wrap:not(.columns_fluid) > .column-4_5,
	.row:not(.columns_fluid) > .column-2_6, .columns_wrap:not(.columns_fluid) > .column-2_6,
	.row:not(.columns_fluid) > .column-3_6, .columns_wrap:not(.columns_fluid) > .column-3_6,
	.row:not(.columns_fluid) > .column-4_6, .columns_wrap:not(.columns_fluid) > .column-4_6,
	.row:not(.columns_fluid) > .column-5_6, .columns_wrap:not(.columns_fluid) > .column-5_6 {
		width: 100%;
	}

	.row:not(.columns_fluid) > [class*="column-"]:nth-child(2n+3), .columns_wrap:not(.columns_fluid) > [class*="column-"]:nth-child(2n+3),
	.row:not(.columns_fluid) > [class*="column-"]:nth-child(2n+4), .columns_wrap:not(.columns_fluid) > [class*="column-"]:nth-child(2n+4) {
		padding-top: 20px;
	}

	.gallery.gallery-columns-9 .gallery-item {
		width: 33.3333% !important;
	}

	.gallery.gallery-columns-8 .gallery-item {
		width: 33.3333% !important;
	}

	.gallery.gallery-columns-7 .gallery-item {
		width: 33.3333% !important;
	}

	.gallery.gallery-columns-6 .gallery-item {
		width: 33.3333% !important;
	}

	.gallery.gallery-columns-5 .gallery-item {
		width: 33.3333% !important;
	}

	.gallery.gallery-columns-4 .gallery-item {
		width: 33.3333% !important;
	}

	/* Top Panel */
	.body_wrap .top_panel_wrap .contact_in {
		padding: 0 !important;
	}

	.top_panel_wrap .contact_label {
		margin: 0.5em 0 0;
	}

	.top_panel_style_1 .contact_field {
		text-align: center;
		padding: 0;
	}

	.top_panel_style_1 .contact_field .contact_icon {
		float: none;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 0.3em;
	}

	.menu_main_nav > li > ul {
		top: 45px;
	}

	.top_panel_top_user_area {
		float: none;
		clear: both;
		width: 100%;
	}

	.top_panel_top_socials {
		float: left;
		margin-left: 0;
		margin-right: 0.5em;
	}

	.top_panel_title .page_title,
	.top_panel_title .post_navi,
	.top_panel_title .breadcrumbs {
		max-width: 100% !important;
		float: none;
		text-align: center;
	}

	.top_panel_title.title_present .breadcrumbs {
		padding: 0 0 1.5em 0 !important;
	}

	/* Posts layouts */
	.post_featured_left > .post_featured,
	.post_featured_right > .post_featured {
		float: none;
		margin-left: 0;
		margin-bottom: 2em;
		width: 100%;
	}

	.isotope_filters a {
		font-size: 0.8333em;
	}

	.isotope_wrap .isotope_item_colored .post_item .hover_icon,
	.isotope_wrap .isotope_item_grid .post_item .hover_icon,
	.isotope_wrap .isotope_item_square .post_item .hover_icon,
	.isotope_wrap .isotope_item_portfolio .post_item .hover_icon {
		display: none;
	}

	.ih-item.square.effect1.bottom_to_top .info .post_title {
		margin-top: 35% !important;
	}

	.ih-item.square.effect_dir .info .post_title {
		margin-top: 4% !important;
	}

	/* Post parts */
	.post_info {
		font-size: 0.8333em;
	}

	.post_rating .reviews_star {
		font-size: 1em;
	}

	.comments_list_wrap ul ul ul {
		/* padding-left:0; */
		margin-left: 0;
	}

	/* Reviews block */
	.reviews_block {
		width: 100%;
	}

	.content .reviews_block {
		float: none;
		margin-left: 0;
	}

	/* Widgets */
	.widget_area .post_item .post_info {
		font-size: 0.75em;
	}

	.widget_area .widget_tag_cloud a {
		font-size: 0.8333em !important;
	}

	.widget_area .widget_calendar .weekday {
		font-size: 0.8333em;
	}

	.widget_area .reviews_block .reviews_summary .reviews_criteria {
		font-size: 0.75em;
	}

	td, th {
		padding: 2px;
	}

	.widget_area .post_item .post_title {
		margin-top: 0;
	}

	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left: 0.4em;
	}

	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.5em;
	}

	/* Footer */
	.contacts_wrap .contacts_address {
		font-size: 1em;
	}

	/* Woocommerce */
	.woocommerce-shipping-fields {
		margin-top: 2em;
	}

	.woocommerce ul.products, .woocommerce-page ul.products {
		margin-right: -20px;
	}

	.woocommerce.columns-1 ul.products li.product, .woocommerce-page.columns-1 ul.products li.product,
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		padding: 0 20px 20px 0;
	}

	.woocommerce .widget_price_filter .price_label {
		font-size: 1em;
	}

	.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		font-size: 1em;
	}

	.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
		margin-top: -0.15em;
	}

	.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
		width: 50px;
	}

	.woocommerce table.cart td, .woocommerce #content table.cart td, .woocommerce-page table.cart td, .woocommerce-page #content table.cart td {
		padding: 6px;
	}

	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float: left;
	}

	.woocommerce #content table.cart td.actions .button, .woocommerce table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button {
		width: auto;
	}

	.woocommerce #content table.cart td.actions > .button, .woocommerce table.cart td.actions > .button, .woocommerce-page #content table.cart td.actions > .button, .woocommerce-page table.cart td.actions > .button {
		float: right;
	}

	.woocommerce.columns-2 ul.products li.product, .woocommerce-page.columns-2 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_2, .woocommerce-page .related.products ul.products li.product.column-1_2,
	.woocommerce .upcells.products ul.products li.product.column-1_2, .woocommerce-page .upcells.products ul.products li.product.column-1_2,
	.woocommerce ul.products li.product.column-1_2, .woocommerce-page ul.products li.product.column-1_2,
	.woocommerce.columns-3 ul.products li.product, .woocommerce-page.columns-3 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_3, .woocommerce-page .related.products ul.products li.product.column-1_3,
	.woocommerce .upcells.products ul.products li.product.column-1_3, .woocommerce-page .upcells.products ul.products li.product.column-1_3,
	.woocommerce ul.products li.product.column-1_3, .woocommerce-page ul.products li.product.column-1_3,
	.woocommerce.columns-4 ul.products li.product, .woocommerce-page.columns-4 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_4, .woocommerce-page .related.products ul.products li.product.column-1_4,
	.woocommerce .upcells.products ul.products li.product.column-1_4, .woocommerce-page .upcells.products ul.products li.product.column-1_4,
	.woocommerce ul.products li.product.column-1_4, .woocommerce-page ul.products li.product.column-1_4,
	.woocommerce.columns-5 ul.products li.product, .woocommerce-page.columns-5 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_5, .woocommerce-page .related.products ul.products li.product.column-1_5,
	.woocommerce .upcells.products ul.products li.product.column-1_5, .woocommerce-page .upcells.products ul.products li.product.column-1_5,
	.woocommerce ul.products li.product.column-1_5, .woocommerce-page ul.products li.product.column-1_5,
	.woocommerce.columns-6 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_6, .woocommerce-page .related.products ul.products li.product.column-1_6,
	.woocommerce .upcells.products ul.products li.product.column-1_6, .woocommerce-page .upcells.products ul.products li.product.column-1_6,
	.woocommerce ul.products li.product.column-1_6, .woocommerce-page ul.products li.product.column-1_6 {
		width: 50%;
	}

	.woocommerce .list_products.shop_mode_list ul.products li.product,
	.woocommerce-page .list_products.shop_mode_list ul.products li.product {
		width: 100%;
	}

	.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
		clear: none;
	}

	.woocommerce ul.products li:nth-child(2n+3), .woocommerce-page ul.products li:nth-child(2n+3) {
		clear: both;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation,
	.woocommerce-account .woocommerce-MyAccount-content {
		width: 100%;
		float: none;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation {
		border-top: 1px dotted #ddd;
		border-bottom: 1px dotted #ddd;
		margin-bottom: 2em;
	}

	.woocommerce-MyAccount-navigation,
	.woocommerce-MyAccount-content .woocommerce-Address-title a {
		font-size: 10px;
		letter-spacing: 0;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation ul {
		width: 100%;
		text-align: center;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation ul li {
		display: inline-block;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation ul li + li {
		border-top-width: 0;
		border-left: 1px dotted #ddd;
	}

	.woocommerce-MyAccount-navigation ul li a {
		padding: 0.6em 0.8em;
	}

	.woocommerce table.my_account_orders {
		font-size: 1em;
	}

	.woocommerce table.my_account_orders tr td, .woocommerce table.my_account_orders tr th,
	.woocommerce-page table.my_account_orders tr td, .woocommerce-page table.my_account_orders tr th {
		text-align: left !important;
	}

	.woocommerce table.my_account_orders tr th, .woocommerce-page table.my_account_orders tr th {
		font-size: 10px;
	}

	/* Shortcodes */
	.sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item {
		min-width: 33.3333%;
		margin-bottom: 1em;
	}

	.sc_googlemap {
		max-height: 250px;
	}

	.sc_googlemap_content {
		position: static;
		width: auto;
	}

	.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a,
	.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a .sc_socials_hover {
		width: 2.5em;
		height: 2.5em;
		line-height: 2.5em;
	}

	.sc_socials.sc_socials_size_small .social_icons span {
		font-size: 1.2em;
	}

	.sc_tabs .sc_tabs_titles li a {
		padding: 0.5em;
	}

	.sc_tabs .sc_tabs_titles li {
		font-size: 1.25em;
	}

	.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		border-width: 1px;
	}

	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a:after,
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.sc_tabs_active a:after {
		height: 2px;
	}

	.sc_testimonial_content {
		font-size: 1.25em;
	}

	.sc_testimonial_author {
		font-size: 1em;
	}

	.sc_twitter_item {
		padding: 0 3em;
	}

	.sc_twitter .sc_slider_controls_wrap a {
		font-size: 1.5em;
	}

	.sc_promo_block {
		min-width: 50%;
	}

	.sc_promo_block_inner {
		padding: 3em;
	}

	/* Scroll to Top */
	.scroll_to_top {
		right: 1em;
	}

	.scroll_to_top.show {
		bottom: 1em;
	}

	input[type="submit"], input[type="button"], button, .sc_button, .post_readmore {
		padding: 0.5em 1em;
	}

	input.sc_button_size_large[type="submit"], input.sc_button_size_large[type="button"], button.sc_button_size_large, .sc_button.sc_button_size_large {
		padding: 0.6em 1.4em;
	}

	input.sc_button_size_small[type="submit"], input.sc_button_size_small[type="button"], button.sc_button_size_small, .sc_button.sc_button_size_small {
		padding: 0.4em 1.2em;
	}

	.page_content_wrap {
		padding: 2em 0 3.5em;
	}

	.sc_intro.extra_border {
		padding: 2.5em;
	}

	.widget_area .widget_title {
		font-size: 1.15em;
	}

	.top_panel_style_3 .menu_main_nav > li > a {
		padding: 1.1em 1.4em 1.3em;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-image {
		height: 110px;
		width: 110px;
	}

	.cq-testimoniallist.beauty .slick-slide.cq-testimoniallist-avataritem:before {
		background-size: 150px auto;
	}

	.rev_slider .sc_button {
		font-size: 11px !important;
		padding: 1em 3em 1em 1.3em !important;
	}

	.rev_slider .sc_button_size_small.sc_button {
		font-size: 11px !important;
	}

	.sc_intro.extra_padding {
		padding: 3em 10px 2.9em;
	}

	.sc_intro_style_2 .sc_intro_title {
		font-size: 2em;
		line-height: 1.2em;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer {
		background-size: 100% auto !important;
	}

	.sc_intro_style_4 .sc_intro_buttons a {
		font-size: 1.1em;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer .cq-testimoniallist-content {
		font-size: 14px;
		line-height: 1.4em;
		padding: 2% 0;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-avatarcontainer {
		margin: 0 auto 0 !important;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer .cq-testimoniallist-contentitem {
		height: 180px;
	}

	.copyright_style_socials .menu_footer_nav, .copyright_style_menu .menu_footer_nav {
		margin: 0 0 3em;
	}

	.content .mc4wp-form {
		margin-bottom: 2.4em !important;
	}

	blockquote {
		font-size: 1.9em;
	}

	.post_content .sc_quote {
		margin: 0.3em 3em 0 1em;
	}

	.body_filled .sidebar[class*="scheme_"] .sidebar_inner {
		padding: 0;
	}

	.woocommerce div.product .product_title {
		font-size: 2em;
	}

	.sc_intro_style_2 .sc_intro_title {
		font-size: 2em;
		line-height: 1.1em;
	}

	.woocommerce ul.products, .woocommerce-page ul.products {
		margin-bottom: 5em;
		padding-bottom: 4em;
	}

	.woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
		margin-top: 0;
		width: 10em;
	}

	.sc_intro_style_4 .sc_intro_title {
		font-size: 3.3em;
	}

	.sc_intro_style_4 .sc_intro_descr {
		font-size: 1.1em;
	}

	.sc_intro_style_4 .sc_intro_buttons {
		margin: 2em 0 0;
	}

	.sc_price_block .sc_price_block_link .sc_button {
		padding: 0.8em 1.8em;
	}

	.sc_call_to_action_style_2.sc_call_to_action_align_left .info_first .sc_call_to_action_title {
		text-align: center;
	}

	.sc_call_to_action_style_2.sc_call_to_action_align_left .info_first {
		top: 0;
		width: 100%;
	}

	.sc_call_to_action_style_2.sc_call_to_action_align_left .sc_call_to_action_descr {
		text-align: center;
		width: 100%;
		margin: 1em 0;
	}

	.sc_call_to_action_style_2.sc_call_to_action_align_left .sc_call_to_action_buttons {
		width: 100% !important;
	}

	.extra_section {
		padding: 0;
		margin-top: 2em;
	}

	.sc_call_to_action .sc_item_buttons > .sc_item_button {
		float: none;
		margin-left: 1em;
		margin-right: 1em;
	}

	.copyright_style_socials .menu_footer_nav li + li:before, .copyright_style_menu .menu_footer_nav li + li:before {
		margin: 0 12px;
	}

	.copyright_style_socials .menu_footer_nav, .copyright_style_menu .menu_footer_nav {
		font-size: 12px;
	}

	.content .widget_area.sc_widget_banner aside {
		width: 100%;
	}

	.sc_form .sc_form_item input[type="text"], .sc_form .sc_form_item select, .sc_form .sc_form_item textarea {
		padding: 1em;
	}

	.post_info .post_info_item + .post_info_item:before {
		margin: 0 0.4em;
	}

	.eg-store-grid-content {
		padding: 17px 15px 20px !important;
	}

	.eg-store-grid-wrapper .eg-store-grid-element-0-a {
		padding: 0 5px;
	}

	.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
		text-align: left !important;
	}

	.ih-item.square.effect_shift:hover .info {
		transform: none !important;
	}
}

/*
Very common low res
*/
@media (max-width: 479px) {

	html, body {
		font-size: 12px;
	}

	h1 {
		font-size: 1.9em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.35em;
	}

	h4 {
		font-size: 1.2em;
	}

	h5 {
		font-size: 1.1em;
	}

	h6 {
		font-size: 1.05em;
	}

	.content .search_wrap {
		max-width: 95%;
	}

	.header_mobile .menu_main_nav > li > a > .open_child_menu {
		right: 0.6em;
		top: 0.6em;
	}

	.open_child_menu {
		height: 2.8em;
		line-height: 2.8em;
		width: 3.5em;
	}

	/* Body sizes */
	.body_style_boxed .page_wrap {
		width: 100%;
	}

	.slider_boxed, .content_wrap, .content_container {
		width: 280px;
	}

	/* Content and Sidebar */
	.sidebar_show .content {
		width: 100%;
		float: none;
	}

	.sidebar_show .sidebar {
		width: 100%;
		float: none;
		margin-top: 3.5em !important;
	}

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content {
		padding-right: 0 !important;
	}

	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar {
		margin-left: 0 !important;
	}

	.body_style_fullwide.sidebar_left .content, .body_style_fullscreen.sidebar_left .content {
		padding-left: 0 !important;
	}

	.body_style_fullwide.sidebar_left .sidebar, .body_style_fullscreen.sidebar_left .sidebar {
		margin-right: 0 !important;
	}

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content {
		width: 100%;
		float: none;
	}

	.woocommerce .sidebar {
		width: 100%;
		float: none;
	}

	.article_style_boxed .sidebar,
	.body_filled .sidebar[class*="scheme_"] {
		margin-top: 10px;
	}

	/* Main Slider */
	.slider_over_content {
		right: -100%;
		width: 100%;
	}

	.slider_over_content.opened {
		right: 0;
	}

	.slider_over_content_inner {
		padding: 3em 1.5em 1.5em;
	}

	/* Uncomment rule below if you shift bullets left on slider with content */
	.slider_over_close,
	.slider_over_button {
		display: block;
	}

	.slider_over_content .sc_form_message textarea {
		min-height: 7em;
	}

	.slider_over_content .sc_form .sc_form_item input[type="text"],
	.slider_over_content .sc_form .sc_form_item select,
	.slider_over_content .sc_form .sc_form_item textarea {
		padding: 0.5em 1em;
	}

	.widget_area aside {
		display: block;
		float: none;
		width: 100%;
		margin-left: 0 !important;
	}

	.widget_area aside + aside {
		padding-top: 2em !important;
		border-top: 1px solid #f4f7f9;
		margin-top: 2em;
	}

	/* Grid */
	.container, .container-fluid {
		padding-left: 5px;
		padding-right: 5px;
	}

	.row, .columns_wrap {
		margin-right: -10px;
	}

	.row > [class*="column-"], .columns_wrap > [class*="column-"] {
		padding-right: 10px;
	}

	.row.column_padding_left, .columns_wrap.column_padding_left {
		margin-left: -10px;
	}

	.row.column_padding_left > [class*="column-"], .columns_wrap.column_padding_left > [class*="column-"],
	.row > [class*="column-"].column_padding_left, .columns_wrap > [class*="column-"].column_padding_left {
		padding-left: 10px;
	}

	.row.column_padding_right, .columns_wrap.column_padding_right {
		margin-right: -10px;
	}

	.row.column_padding_right > [class*="column-"], .columns_wrap.column_padding_right > [class*="column-"],
	.row > [class*="column-"].column_padding_right, .columns_wrap > [class*="column-"].column_padding_right {
		padding-right: 10px;
	}

	.row.column_padding_center, .columns_wrap.column_padding_center {
		margin-left: -5px;
		margin-right: -5px;
	}

	.row.column_padding_center > [class*="column-"], .columns_wrap.column_padding_center > [class*="column-"],
	.row > [class*="column-"].column_padding_center, .columns_wrap > [class*="column-"].column_padding_center {
		padding-left: 10px;
	}

	.row > [class*="column-"].column_padding_bottom, .columns_wrap > [class*="column-"].column_padding_bottom {
		padding-bottom: 10px;
	}

	/* Columns relayout (no columns) */
	.row:not(.columns_fluid) > [class*="column-"], .columns_wrap:not(.columns_fluid) > [class*="column-"] {
		width: 100%;
	}

	.row.columns_fluid > [class*="column-"], .columns_wrap.columns_fluid > [class*="column-"] {
		width: 50%;
	}

	.row.columns_fluid > .column-1_1, .row.columns_fluid > .column-2_2, .row.columns_fluid > .column-3_3, .row.columns_fluid > .column-4_4, .row.columns_fluid > .column-5_5,
	.row.columns_fluid > .column-6_6, .row.columns_fluid > .column-7_7, .row.columns_fluid > .column-8_8, .row.columns_fluid > .column-9_9, .row.columns_fluid > .column-10_10,
	.row.columns_fluid > .column-11_11, .row.columns_fluid > .column-12_12,
	.columns_wrap.columns_fluid > .column-1_1, .columns_wrap.columns_fluid > .column-2_2, .columns_wrap.columns_fluid > .column-3_3,
	.columns_wrap.columns_fluid > .column-4_4, .columns_wrap.columns_fluid > .column-5_5, .columns_wrap.columns_fluid > .column-6_6,
	.columns_wrap.columns_fluid > .column-7_7, .columns_wrap.columns_fluid > .column-8_8, .columns_wrap.columns_fluid > .column-9_9,
	.columns_wrap.columns_fluid > .column-10_10, .columns_wrap.columns_fluid > .column-11_11, .columns_wrap.columns_fluid > .column-12_12,
	.row.columns_fluid > .column-1_3:nth-child(3n), .columns_wrap.columns_fluid > .column-1_3:nth-child(3n),
	.row.columns_fluid > .column-2_3, .columns_wrap.columns_fluid > .column-2_3,
	.row.columns_fluid > .column-1_3.after_span_2, .columns_wrap.columns_fluid > .column-1_3.after_span_2,
	.row.columns_fluid > .column-2_4, .columns_wrap.columns_fluid > .column-3_4,
	.row.columns_fluid > .column-1_4.after_span_2, .columns_wrap.columns_fluid > .column-1_4.after_span_3,
	.row.columns_fluid > .column-1_5:nth-child(5n), .columns_wrap.columns_fluid > .column-1_5:nth-child(5n),
	.row.columns_fluid > .column-2_5, .columns_wrap.columns_fluid > .column-2_5,
	.row.columns_fluid > .column-3_5, .columns_wrap.columns_fluid > .column-3_5,
	.row.columns_fluid > .column-4_5, .columns_wrap.columns_fluid > .column-4_5,
	.row.columns_fluid > .column-2_6, .columns_wrap.columns_fluid > .column-2_6,
	.row.columns_fluid > .column-3_6, .columns_wrap.columns_fluid > .column-3_6,
	.row.columns_fluid > .column-4_6, .columns_wrap.columns_fluid > .column-4_6,
	.row.columns_fluid > .column-5_6, .columns_wrap.columns_fluid > .column-5_6 {
		width: 100%;
	}

	.row:not(.columns_fluid) > [class*="column-"] + [class*="column-"], .columns_wrap:not(.columns_fluid) > [class*="column-"] + [class*="column-"],
	.row.columns_fluid > [class*="column-"]:nth-child(2n+3), .columns_wrap.columns_fluid > [class*="column-"]:nth-child(2n+3),
	.row.columns_fluid > [class*="column-"]:nth-child(2n+4), .columns_wrap.columns_fluid > [class*="column-"]:nth-child(2n+4) {
		padding-top: 10px;
	}

	.gallery.gallery-columns-9 .gallery-item {
		width: 50% !important;
	}

	.gallery.gallery-columns-8 .gallery-item {
		width: 50% !important;
	}

	.gallery.gallery-columns-7 .gallery-item {
		width: 50% !important;
	}

	.gallery.gallery-columns-6 .gallery-item {
		width: 50% !important;
	}

	.gallery.gallery-columns-5 .gallery-item {
		width: 50% !important;
	}

	.gallery.gallery-columns-4 .gallery-item {
		width: 50% !important;
	}

	.gallery.gallery-columns-3 .gallery-item {
		width: 50% !important;
	}

	/* Top Panel */
	.top_panel_top_contact_area,
	.top_panel_top_open_hours,
	.top_panel_top_user_area,
	.top_panel_top_socials {
		float: none;
		clear: both;
		width: 100%;
		text-align: center;
		margin: 0.5em 0 0 0;
	}

	.top_panel_top_user_area .menu_user_nav {
		display: inline-block;
		float: none;
		margin-top: -0.5em;
	}

	.top_panel_top .search_field {
		max-width: 3em;
	}

	.top_panel_top_socials {
		line-height: 1em;
	}

	.top_panel_top_socials .sc_socials_item {
		margin-right: 1.4em !important;
	}

	.top_panel_top_user_area .menu_user_nav li {
		text-align: left;
	}

	.top_panel_top_user_area .menu_user_nav > li > a {
		padding: 0.5em 0;
	}

	.top_panel_middle .logo {
		font-size: 0.875em;
	}

	.top_panel_middle .logo img {
		max-height: 100px;
	}

	.header_mobile .logo {
		max-width: 170px;
	}

	.top_panel_title .page_title,
	.top_panel_title .post_navi,
	.top_panel_title .breadcrumbs {
		max-width: 100% !important;
		float: none;
		text-align: center;
	}

	.top_panel_title.title_present .breadcrumbs {
		padding: 0 0 1.5em 0 !important;
	}

	.menu_user_nav > li {
		float: none;
		display: inline-block;
	}

	/* Login and Register */
	.popup_wrap {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.popup_wrap .popup_form_field .forgot_password {
		float: none;
		display: block;
		margin-bottom: 0.5em;
	}

	.popup_wrap .login_socials_title {
		font-size: 1.25em;
	}

	.popup_wrap input[type="text"], .popup_wrap input[type="email"], .popup_wrap input[type="password"] {
		font-size: 1em;
	}

	/* Posts layouts */
	.post_featured_left > .post_featured,
	.post_featured_right > .post_featured {
		float: none;
		margin-left: 0;
		margin-bottom: 2em;
		width: 100%;
	}

	.isotope_filters a {
		font-size: 0.8333em;
	}

	.isotope_wrap {
		margin-right: -10px;
	}

	.isotope_wrap .isotope_item {
		padding-right: 10px;
		padding-bottom: 10px;
		width: 100% !important;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 290px !important;
	}

	/* Post parts */
	.post_info {
		font-size: 0.8333em;
	}

	.post_rating .reviews_star {
		font-size: 1em;
	}

	/* Reviews block */
	.reviews_block {
		width: 100%;
	}

	.content .reviews_block {
		float: none;
		margin-left: 0;
	}

	/* Comments */
	.comments_list_wrap ul ul {
		/* padding-left:0; */
		margin-left: 0;
	}

	.comments_list_wrap ul.children {
		padding-left: 0;
	}

	/* Widgets */
	.widget_area .post_item .post_info {
		font-size: 0.75em;
	}

	.widget_area .widget_tag_cloud a {
		font-size: 0.8333em !important;
	}

	.widget_area .widget_calendar .weekday {
		font-size: 0.8333em;
	}

	.widget_area .reviews_block .reviews_summary .reviews_criteria {
		font-size: 0.75em;
	}

	td, th {
		padding: 2px;
	}

	.widget_area .post_item .post_title {
		margin-top: 0;
	}

	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left: 0.4em;
	}

	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.5em;
	}

	/* Footer */
	.contacts_wrap .contacts_address {
		font-size: 1em;
	}

	/* Woocommerce */
	.woocommerce-shipping-fields {
		margin-top: 2em;
	}

	.woocommerce ul.products, .woocommerce-page ul.products {
		margin-right: -20px;
	}

	.woocommerce.columns-1 ul.products li.product, .woocommerce-page.columns-1 ul.products li.product,
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		padding: 0 20px 20px 0;
	}

	.woocommerce .widget_price_filter .price_label {
		font-size: 1em;
	}

	.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		font-size: 1em;
	}

	.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
		margin-top: -0.15em;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		padding: 0;
	}

	.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
		width: 40px;
	}

	.woocommerce table.cart td, .woocommerce #content table.cart td, .woocommerce-page table.cart td, .woocommerce-page #content table.cart td {
		padding: 4px;
	}

	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float: left;
	}

	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float: left;
	}

	.woocommerce #content table.cart td.actions .button, .woocommerce table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button {
		width: auto;
		padding: 0.75em;
	}

	.woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
		width: 5.5em;
		margin-right: 0.3em;
	}

	.woocommerce #content table.cart td.actions .button.alt, .woocommerce #content table.cart td.actions .input-text + .button, .woocommerce table.cart td.actions .button.alt, .woocommerce table.cart td.actions .input-text + .button, .woocommerce-page #content table.cart td.actions .button.alt, .woocommerce-page #content table.cart td.actions .input-text + .button, .woocommerce-page table.cart td.actions .button.alt, .woocommerce-page table.cart td.actions .input-text + .button {
		float: left;
	}

	.woocommerce #content table.cart td.actions > .button, .woocommerce table.cart td.actions > .button, .woocommerce-page #content table.cart td.actions > .button, .woocommerce-page table.cart td.actions > .button {
		float: right;
	}

	.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
		width: 100%;
		float: none;
	}

	.woocommerce[class*="column-"] ul.products li.product, .woocommerce-page[class*="column-"] ul.products li.product,
	.woocommerce ul.products li.product[class*="column-"], .woocommerce-page ul.products li.product[class*="column-"],
	.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product,
	.woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product,
	.woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
		width: 100%;
		float: none;
	}

	.woocommerce.columns-2 ul.products li.product, .woocommerce-page.columns-2 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_2, .woocommerce-page .related.products ul.products li.product.column-1_2,
	.woocommerce .upcells.products ul.products li.product.column-1_2, .woocommerce-page .upcells.products ul.products li.product.column-1_2,
	.woocommerce ul.products li.product.column-1_2, .woocommerce-page ul.products li.product.column-1_2,
	.woocommerce.columns-3 ul.products li.product, .woocommerce-page.columns-3 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_3, .woocommerce-page .related.products ul.products li.product.column-1_3,
	.woocommerce .upcells.products ul.products li.product.column-1_3, .woocommerce-page .upcells.products ul.products li.product.column-1_3,
	.woocommerce ul.products li.product.column-1_3, .woocommerce-page ul.products li.product.column-1_3,
	.woocommerce.columns-4 ul.products li.product, .woocommerce-page.columns-4 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_4, .woocommerce-page .related.products ul.products li.product.column-1_4,
	.woocommerce .upcells.products ul.products li.product.column-1_4, .woocommerce-page .upcells.products ul.products li.product.column-1_4,
	.woocommerce ul.products li.product.column-1_4, .woocommerce-page ul.products li.product.column-1_4,
	.woocommerce.columns-5 ul.products li.product, .woocommerce-page.columns-5 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_5, .woocommerce-page .related.products ul.products li.product.column-1_5,
	.woocommerce .upcells.products ul.products li.product.column-1_5, .woocommerce-page .upcells.products ul.products li.product.column-1_5,
	.woocommerce ul.products li.product.column-1_5, .woocommerce-page ul.products li.product.column-1_5,
	.woocommerce.columns-6 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_6, .woocommerce-page .related.products ul.products li.product.column-1_6,
	.woocommerce .upcells.products ul.products li.product.column-1_6, .woocommerce-page .upcells.products ul.products li.product.column-1_6,
	.woocommerce ul.products li.product.column-1_6, .woocommerce-page ul.products li.product.column-1_6 {
		width: 100%;
		float: none;
	}

	.woocommerce .checkout #order_review .payment_methods li label, .woocommerce-page .checkout #order_review .payment_methods li label {
		max-width: 88%;
	}

	#add_payment_method #payment .payment_method_paypal label:before,
	.woocommerce-cart #payment .payment_method_paypal label:before,
	.woocommerce-checkout #payment .payment_method_paypal label:before {
		margin-top: -0.55em;
	}

	#add_payment_method #payment .payment_method_paypal .about_paypal,
	.woocommerce-cart #payment .payment_method_paypal .about_paypal, .woocommerce-checkout #payment .payment_method_paypal .about_paypal {
		/*float: none;*/
		display: block;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation,
	.woocommerce-account .woocommerce-MyAccount-content {
		width: 100%;
		float: none;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation {
		border-top: 1px dotted #ddd;
		border-bottom: 1px dotted #ddd;
		margin-bottom: 2em;
	}

	.woocommerce-MyAccount-navigation,
	.woocommerce-MyAccount-content .woocommerce-Address-title a {
		font-size: 10px;
		letter-spacing: 0;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation ul {
		width: 100%;
		text-align: center;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation ul li {
		display: inline-block;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation ul li + li {
		border-left: 1px dotted #ddd;
	}

	.woocommerce-MyAccount-navigation ul li a {
		padding: 0.6em 0.8em;
	}

	.woocommerce table.my_account_orders {
		font-size: 1em;
	}

	.woocommerce table.my_account_orders tr td, .woocommerce table.my_account_orders tr th,
	.woocommerce-page table.my_account_orders tr td, .woocommerce-page table.my_account_orders tr th {
		text-align: left !important;
	}

	.woocommerce table.my_account_orders tr th, .woocommerce-page table.my_account_orders tr th {
		font-size: 10px;
	}

	/* Shortcodes */
	.sc_line {
		margin: 3.5em 0;
	}

	blockquote {
		font-size: 1.3em;
	}

	.sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item {
		min-width: 50%;
		margin-bottom: 1em;
	}

	.sc_form .sc_form_field {
		float: none;
		width: 100%;
		padding-left: 0 !important;
	}

	.sc_googlemap {
		max-height: 200px;
	}

	.sc_googlemap_content {
		position: static;
		width: auto;
	}

	.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a,
	.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a .sc_socials_hover {
		width: 2.5em;
		height: 2.5em;
		line-height: 2.5em;
	}

	.sc_socials.sc_socials_size_small .social_icons span {
		font-size: 1.2em;
	}

	.sc_tabs .sc_tabs_titles li a {
		padding: 0.5em;
	}

	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a:after,
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.sc_tabs_active a:after {
		height: 2px;
	}

	.sc_tabs .sc_tabs_titles li {
		font-size: 1.25em;
	}

	.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		border-width: 1px;
	}

	.sc_testimonial_content {
		font-size: 1.25em;
	}

	.sc_testimonial_author {
		font-size: 1em;
	}

	.sc_twitter_item {
		padding: 0 3em;
	}

	.sc_twitter .sc_slider_controls_wrap a {
		font-size: 1.5em;
	}

	.sc_video_player.sc_video_bordered .sc_video_frame {
		max-width: 198px;
	}

	.sc_promo:not(.sc_promo_size_small) .sc_promo_block {
		min-width: 100%;
		margin: 0 !important;
		float: none;
	}

	.sc_promo_block_inner {
		padding: 2em;
	}

	.sc_promo:not(.sc_promo_size_small) .sc_promo_image {
		position: relative;
		height: 200px;
		min-width: 100%;
	}

	.sc_promo_block.sc_align_left *,
	.sc_promo_block.sc_align_left *:after {
		text-align: center !important;
		margin-left: auto;
	}

	.sc_promo_block.sc_align_right *,
	.sc_promo_block.sc_align_right *:after {
		text-align: center !important;
		margin-right: auto;
	}

	/* Scroll to Top */
	.scroll_to_top {
		right: 1em;
	}

	.scroll_to_top.show {
		bottom: 1em;
	}

	input[type="submit"], input[type="reset"], input[type="button"], button, .sc_button, .post_readmore {
		font-size: 1em;
	}

	input[type="submit"], input[type="button"], button, .sc_button, .post_readmore {
		padding: 0.4em 0.8em;
	}

	input.sc_button_size_large[type="submit"], input.sc_button_size_large[type="button"], button.sc_button_size_large, .sc_button.sc_button_size_large {
		padding: 0.5em 1.2em;
	}

	input.sc_button_size_small[type="submit"], input.sc_button_size_small[type="button"], button.sc_button_size_small, .sc_button.sc_button_size_small {
		padding: 0.4em 1em;
	}

	h1, h2, h5 {
		letter-spacing: 0.1em;
	}

	.comments_list_wrap .comment_info .comment_date_label, .comments_list_wrap .comment_info .comment_time, .comments_list_wrap .comment_info .comment_date_value {
		font-size: 11px;
	}

	.comments_list_wrap .comment_author_avatar {
		height: 70px;
		width: 70px;
	}

	.comments_list_wrap .comment_content {
		padding-left: 85px;
	}

	.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
		margin: 0 0 1em;
		width: 100%;
	}

	.woocommerce .mode_buttons, .woocommerce-page .mode_buttons {
		margin: 0 0 0.2em;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
		padding: 0.5em 1em;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
		border: 1px solid #dddddd;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
		margin-bottom: 0;
		padding-left: 0.5em;
	}

	.woocommerce div.product .woocommerce-tabs h2, .woocommerce #content div.product .woocommerce-tabs h2, .woocommerce-page div.product .woocommerce-tabs h2, .woocommerce-page #content div.product .woocommerce-tabs h2 {
		font-size: 1.3em;
	}

	.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta strong {
		font-size: 14px;
	}

	.woocommerce table.shop_table th {
		padding: 7px;
	}

	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float: right;
	}

	.woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
		margin-bottom: 6px;
		margin-right: 0;
		margin-top: 5px;
		width: 100%;
	}

	.sc_audio.sc_audio_image {
		padding: 7em 1em 2.5em;
	}

	.sc_audio .sc_audio_header {
		padding: 1.5em 1em;
	}

	.sc_audio .sc_audio_title {
		font-size: 1.25em;
	}

	.sc_audio .sc_audio_author {
		font-size: 1.1em;
	}

	.top_panel_title .page_title {
		font-size: 1.9em;
	}

	.post_item_excerpt:not([class*="column"]) {
		margin-bottom: 4.4em;
		padding-bottom: 3em;
	}

	.post_item .post_descr .sc_button {
		padding: 0.4em 2em;
	}

	.post_item .post_readmore {
		padding: 0.4em 2em;
	}

	.minimal-light .esg-filterbutton, .minimal-light .esg-navigationbutton, .minimal-light .esg-sortbutton, .minimal-light .esg-cartbutton a {
		letter-spacing: 0.2px;
		line-height: 30px !important;
		padding: 0 10px !important;
	}

	.copyright_wrap_inner {
		padding: 4em 0 1.571em;
	}

	blockquote > a, blockquote > p > a, blockquote cite {
		font-size: 18px;
	}

	.sc_table table th, .sc_table table td {
		padding: 0.5em 0.35em;
	}

	.show_con_area .copyright_wrap_inner {
		padding-top: 3em;
	}

	.copyright_wrap_inner .copyright_text {
		margin-bottom: 2em;
	}

	.sc_dropcaps .sc_dropcaps_item {
		font-size: 4em;
	}

	.page_content_wrap {
		padding: 2em 0 3.5em;
	}

	.sc_intro.extra_border {
		padding: 1.8em;
	}

	.widget_area .widget_title {
		font-size: 1.15em;
	}

	.top_panel_style_3 .menu_main_nav > li > a {
		padding: 1.1em 1.4em 1.3em;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-image {
		height: 110px;
		width: 110px;
	}

	.cq-testimoniallist.beauty .slick-slide.cq-testimoniallist-avataritem:before {
		background-size: 150px auto;
	}

	.rev_slider .sc_button {
		font-size: 11px !important;
		padding: 0.8em 2.5em 0.8em 1.15em !important;
	}

	.rev_slider .sc_button_size_small.sc_button {
		font-size: 11px !important;
	}

	.sc_intro.extra_padding {
		padding: 3em 10px 2.9em;
	}

	.sc_intro_style_2 .sc_intro_title {
		font-size: 2em;
		line-height: 1.2em;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer {
		background-size: 100% auto !important;
	}

	.sc_intro_style_4 .sc_intro_buttons a {
		font-size: 1.1em;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer .cq-testimoniallist-content {
		font-size: 13px;
		line-height: 1.4em;
		padding: 2% 0;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-avatarcontainer {
		margin: 0 auto 0 !important;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer .cq-testimoniallist-contentitem {
		height: 180px;
	}

	.copyright_style_socials .menu_footer_nav, .copyright_style_menu .menu_footer_nav {
		margin: 0 0 2em;
	}

	.content .mc4wp-form {
		margin-bottom: 2.4em !important;
	}

	blockquote {
		font-size: 1.4em;
	}

	.post_content .sc_quote {
		margin: 0;
	}

	.body_filled .sidebar[class*="scheme_"] .sidebar_inner {
		padding: 0;
	}

	.woocommerce div.product .product_title {
		font-size: 2em;
	}

	.sc_intro_style_2 .sc_intro_title {
		font-size: 2em;
		line-height: 1.1em;
	}

	.woocommerce ul.products, .woocommerce-page ul.products {
		margin-bottom: 5em;
		padding-bottom: 4em;
	}

	.woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
		margin-top: 4px;
		width: 105%;
		float: right;
	}

	.checkout_coupon .form-row-last,
	.checkout_coupon .form-row-first {
		width: 100% !important;
		float: none !important;
	}

	.sc_form_info .sc_columns > [class*="column-"] {
		padding-top: 0 !important;
	}

	.sc_intro_style_4 .sc_intro_title {
		font-size: 2.5em;
	}

	.sc_intro_style_4 .sc_intro_descr {
		font-size: 1.1em;
	}

	.sc_intro_style_4 .sc_intro_buttons {
		margin: 2em 0 0;
	}

	.sc_price_block .sc_price_block_link .sc_button {
		padding: 0.8em 1.8em;
	}

	.sc_call_to_action_style_2.sc_call_to_action_align_left .info_first .sc_call_to_action_title {
		text-align: center;
	}

	.sc_call_to_action_style_2.sc_call_to_action_align_left .info_first {
		top: 0;
		width: 100%;
	}

	.sc_call_to_action_style_2.sc_call_to_action_align_left .sc_call_to_action_descr {
		text-align: center;
		width: 100%;
		margin: 1em 0;
	}

	.sc_call_to_action_style_2.sc_call_to_action_align_left .sc_call_to_action_buttons {
		width: 100% !important;
	}

	.extra_section {
		padding: 0;
		margin-top: 2em;
	}

	.sc_call_to_action .sc_item_buttons > .sc_item_button {
		float: none;
		margin-left: 1em;
		margin-right: 1em;
	}

	.copyright_style_socials .menu_footer_nav, .copyright_style_menu .menu_footer_nav {
		font-size: 12px;
	}

	.content .widget_area.sc_widget_banner aside {
		width: 100%;
	}

	.sc_form .sc_form_item input[type="text"], .sc_form .sc_form_item select, .sc_form .sc_form_item textarea {
		padding: 1em;
	}

	.post_info .post_info_item + .post_info_item:before {
		margin: 0 0.4em;
	}

	.eg-store-grid-content {
		padding: 17px 15px 20px !important;
	}

	.eg-store-grid-wrapper .eg-store-grid-element-0-a {
		padding: 0 5px;
	}

	.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
		text-align: left !important;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer {
		background: none !important;
		padding: 0 1%;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-contentcontainer .cq-testimoniallist-contentitem {
		height: 140px !important;
	}

	.slick-slider {
		margin-bottom: 10px !important;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-image {
		height: auto !important;
		width: auto !important;
	}

	.cq-testimoniallist.beauty .slick-slide.cq-testimoniallist-avataritem:before {
		background: none !important;
	}

	.cq-testimoniallist.beauty .cq-testimoniallist-name {
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0;
		line-height: 16px;
	}

	.copyright_style_socials .menu_footer_nav li + li:before, .copyright_style_menu .menu_footer_nav li + li:before {
		border: none !important;
		margin: 0 9px !important;
	}

	.sc_intro_style_4 .sc_intro_buttons > .sc_item_button a {
		padding: 0.8em 1.2em;
	}

	.minimal-light .esg-navigationbutton {
		margin: 2em 0 0 !important;
	}

	.copyright_style_socials .menu_footer_nav li, .copyright_style_menu .menu_footer_nav li {
		float: none;
	}

	.sc_call_to_action_style_2.sc_call_to_action_align_left .sc_call_to_action_buttons {
		margin-top: 5px;
		padding-top: 0 !important;
	}

	.sc_intro_style_3 .sc_intro_title {
		font-size: 3em;
	}

	.vc_custom_heading.extra_title {
		font-size: 3em !important;
	}

	.content .mc4wp-form input[type="email"] {
		width: 19em;
	}

	.minimal-light .esg-navigationbutton {
		width: 1em;
		padding: 0 5px !important;
	}

	.top_panel_title {
		padding: 1.5em 0 1.1em;
	}

	.top_panel_title .page_title {
		padding: 0.5em 0;
	}

	.admin-bar .header_mobile .side_wrap {
		top: 190px !important;
	}

	.content .mc4wp-form input[type="email"] {
		padding: 1em 5em 1em 1em !important;
	}

	.content .mc4wp-form .wrap:before {
		right: 10px;
		top: 10px;
	}

	.woocommerce td.product-name dl.variation dd {
		margin: 0;
	}

	.sc_skills.sc_skills_counter {
		text-align: left;
	}

	.sidebar .search_form input {
		overflow: hidden;
	}

	.sidebar .search_form {
		margin-bottom: 1px;
		padding-bottom: 1px;
	}

	.ih-item.square.effect_shift:hover .info {
		transform: none !important;
	}

	.value:after {
		right: 6em;
	}

	.woocommerce ul.products[class*=columns-] li.product,
	.woocommerce-page ul.products[class*=columns-] li.product{
		width: 100%;
	}
}

@media (max-width: 782px) {
	.admin-bar.top_panel_over .top_panel_wrap {
		top: 46px;
	}

	.admin-bar.top_panel_fixed .top_panel_wrap {
		top: 46px;
	}

	.admin-bar #debug_log {
		top: 46px;
	}

	.admin-bar .pushy .close-pushy::before {
		top: 3em;
	}

	.admin-bar .pushy .pushy_inner {
		padding-top: 4em;
	}

	.admin-bar .pushy .logo {
		margin-bottom: 1em;
	}

	.admin-bar .header_mobile .side_wrap {
		top: 46px;
	}

	.admin-bar.menu_mobile_open {
		height: calc(100% - 46px);
	}
}

@media (max-width: 599px) {
	.admin-bar.top_panel_over .top_panel_wrap {
		top: 46px;
	}

	.admin-bar.top_panel_fixed .top_panel_wrap {
		top: 0;
	}

	.admin-bar #debug_log {
		top: 46px;
	}
}

@media (max-width: 639px) {
	.popup_wrap {
		width: auto;
		min-width: 260px;
		max-width: 260px;
	}

	.popup_wrap .form_left,
	.popup_wrap .form_right,
	.popup_wrap.popup_registration .form_left,
	.popup_wrap.popup_registration .form_right {
		float: none;
		padding: 0;
		border: none;
		width: 100%
	}

	.popup_wrap .form_right {
		margin-top: 20px;
	}

	.popup_wrap.popup_registration .form_right {
		margin-top: 0;
	}
}

@media (max-width: 480px) {
	.header_mobile .mask {
		display: none !important;
	}

	.woocommerce .related ul.products.columns-4 li.product
	{
		width: 100%;
	}

	.header_mobile .content_wrap {
		margin-left: 35px;
		text-align: left;
	}

	.header_mobile .logo {
		padding-top: 24px;
		padding-bottom: 5px;
	}

	.header_mobile .menu_main_cart {
		right: 30px;
	}

	.header_mobile .menu_button {
		left: auto;
		right: 70px;
	}

	.header_mobile .side_wrap {
		width: 100%;
		top: 140px;
		left: -100%;
	}

	.admin-bar .header_mobile .side_wrap {
		top: 210px;
	}

	.header_mobile .panel_middle {
		font-size: 1em;
	}

	.top_panel_cart_button:before
	{
		position: absolute;
	    content: attr(data-items);
	    color: #fff;
	    background: #ff5454;
	    width: 15px;
	    height: 15px;
	    line-height: 15px;
	    text-align: center;
	    font-size: 10px;
	    top: 0;
	    border-radius: 50%;
	    right: 0;
	}
}
